@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <br>
        <h1 class="display-6 fw-bold">Welcome to the Task Managment System!</h1>
        <p>Stay organized and on top of your tasks with our powerful task management system.<br> 
            Whether for personal, work, or project management, this system allows you to efficiently 
            manage and track tasks from start to finish.</p>
        <br>
        <ul class="text-start">
            <li><strong>Create and Manage Tasks</strong>: Easily add new tasks, set deadlines, and update task statuses.</li>
            <li><strong>Track Progress</strong>: Monitor the status of your tasks—whether they are Pending, In Progress, or Completed.</li>
            <li><strong>Task Details</strong>: Attach due dates, descriptions, and other important details to each task.</li>
            <li><strong>Organize with Tags</strong>: Use tags to categorize and filter tasks based on your needs.</li>
            <li><strong>User Assignment</strong>: Assign tasks to different users or team members.</li>
        </ul>
    </div>
</div>
