@model TaskManagmentSystem.Models.Task

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2>View / Edit Task</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post">

                        <!---------------------- NAME ---------------------->
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="form-label"><strong>Name</strong></label>
                            <input asp-for="Name" class="form-control" placeholder="Enter a name"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <!---------------------- STATUS ---------------------->
                        <div class="form-group mb-3">
                            <label asp-for="Status" class="form-label"><strong>Status</strong></label>
                            <select asp-for="Status" class="form-control">
                                @foreach (var status in Enum.GetValues(typeof(TaskManagmentSystem.Models.Status)))
                                {
                                    <option value="@status">
                                        @status
                                    </option>
                                }
                            </select>
                        </div>

                        <!---------------------- DUE DATE ---------------------->
                        <div class="form-group mb-3">
                            <label asp-for="TaskDetail.DueDate" class="form-label"><strong>Due Date</strong></label>
                            <input asp-for="TaskDetail.DueDate" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                            <span asp-validation-for="TaskDetail.DueDate" class="text-danger"></span>
                        </div>

                        <!---------------------- DESCRIPTION ---------------------->
                        <div class="form-group mb-3">
                            <label asp-for="TaskDetail.Description"></label>
                            <textarea asp-for="TaskDetail.Description" class="form-control"></textarea>
                        </div>

                        <!---------------------- USER ---------------------->
                        <div class="form-group mb-3">
                            <label asp-for="UserId" class="form-label"><strong>User</strong></label>
                            <div class="">
                                <select id="existingUser" class="form-control" asp-items="ViewBag.Users" asp-for="UserId">
                                    <option value="">-- Select user --</option>
                                </select>
                            </div>
                            <div class="d-none">
                                <input id="hiddenSelectedUser" class="form-control" />
                            </div>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        
                        <!---------------------- TAGS ---------------------->
                         <div class="form-group mb-3">
                            <label asp-for="Tags" class="form-label"><strong>Tags</strong></label>
                            <select id="tagsDropdown" name="tagsIdList" asp-items="ViewBag.Tags" multiple="multiple" class="form-control"></select>

                            <button type="button" id="showTagsBtn" class="btn btn-secondary mt-2 btn-sm">Add tags</button>

                            <p>Selected Tags: <span id="selectedTagsDisplay" class="mt-2">None</span></p>
                        </div>


                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <a asp-asp-controller="Tasks" asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectElement = document.getElementById("tagsDropdown");
            const displayElement = document.getElementById("selectedTagsDisplay");
            const button = document.getElementById("showTagsBtn");

            button.addEventListener("click", function () {
                const selectedOptions = [...selectElement.selectedOptions].map(option => option.text);
                displayElement.textContent = selectedOptions.length ? selectedOptions.join(", ") : "None";
            });

            // Loading preselectedTags tagsDropdown from existingTask
            var preselectedTags = @Html.Raw(Json.Serialize(ViewBag.SelectedTags));
            if (selectElement) {
                for (var i = 0; i < selectElement.options.length; i++) {
                    if (preselectedTags.includes(parseInt(selectElement.options[i].value))) {
                        selectElement.options[i].selected = true;
                    }
                }
                const selectedOptions = [...selectElement.selectedOptions].map(option => option.text);
                displayElement.textContent = selectedOptions.length ? selectedOptions.join(", ") : "None";
            }

        });
    </script>

}